.header-principal {
  background: var(--couleur-primaire);
  border-bottom: 1px dimgrey solid;
}

.nav-principale {
  display: flex;
  justify-content: flex-end;

  ul {
    display: flex;
  }

  li {
    margin: 0 var(--marge-petit);
  }
}